In [95]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, text
from sklearn.compose import make_column_selector
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote
from sqlalchemy_utils import create_database, database_exists

In [ ]:
username = "root"
password = "Lerisha26" # (or whatever password you chose during mysql installation)
db_name = "Movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [113]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv("C:/Users/user/Documents/CodingDojo/Project-3-Part-1/Data/title_basics.csv.gz", low_memory = False)

In [114]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008,NaN,94,Horror
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [125]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008,NaN,94,Horror,[Horror]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
82186,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
82187,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
82188,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
82189,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
82190,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [126]:
genres_split = basics['genres'].str.split(",")

In [127]:
# explode the series
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Musical', 'Action', 'Adventure', 'Crime',
       'Thriller', 'Music', 'Animation', 'Family', 'History', 'War',
       'Sport', 'Western', 'Adult', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [128]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [129]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [130]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_id_map = dict(zip(unique_genres, genre_ints))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [132]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].replace(genre_id_map)

In [133]:
basics = basics.drop(columns='genres_split')

In [35]:
genre_lookup = pd.DataFrame({'Genre_Name':genre_id_map.keys(), 'Genre_ID':genre_id_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Comedy         0
1    Fantasy         1
2    Romance         2
3      Drama         3
4     Horror         4

In [48]:
title_genres.dtypes

tconst          object
genres_split    object
dtype: object

In [134]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008,NaN,94,Horror,[Horror]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"

In [96]:
## Set the dataframe index and use index=True 
genre_lookup.set_index('Genre_ID').to_sql('genre_lookup',engine,index=True,if_exists='replace')

25

In [97]:
## get max string length
max_str_len = title_genres['tconst'].fillna('').map(len).max()

In [98]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = title_genres['tconst'].fillna('').map(len).max()
title_len = title_genres['genres_split'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "genres_split": Text(title_len+1)}

In [99]:
# Save to sql with dtype and index=False
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',index=False)

154235

In [101]:
# Load in the dataframe from project part 1 as basics:
ratings = pd.read_csv("C:/Users/user/Documents/CodingDojo/Project-3-Part-1/Data/ratings.csv.gz", low_memory = False)

In [106]:
ratings.head()
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1366672 entries, 0 to 1366671
Data columns (total 1 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   tconst	averageRating	numVotes  1366672 non-null  object
dtypes: object(1)
memory usage: 10.4+ MB

In [107]:
# Save to sql with dtype and index=False
ratings.to_sql('ratings',engine,dtype=df_schema,if_exists='replace',index=False)

1366672

In [109]:
# Load in the dataframe from project part 1 as basics:
tmdb = pd.read_csv("C:/Users/user/Documents/CodingDojo/Project-3-Part-2/Data/final_tmdb_data_2000.csv.gz", low_memory = False)

In [110]:
tmdb.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.101,2369.0,PG

In [111]:
tmdb.to_sql('tmdb',engine,dtype=df_schema,if_exists='replace',index=False)

1235

In [112]:
basics.head()

  tconst\taverageRating\tnumVotes
0            tt0000001\t5.7\t2005
1             tt0000002\t5.8\t269
2            tt0000003\t6.5\t1907
3             tt0000004\t5.5\t178
4            tt0000005\t6.2\t2687

In [137]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82191 entries, 0 to 82190
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82191 non-null  object
 1   titleType       82191 non-null  object
 2   primaryTitle    82190 non-null  object
 3   originalTitle   82190 non-null  object
 4   isAdult         82191 non-null  int64
 5   startYear       82191 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  82191 non-null  int64
 8   genres          82191 non-null  object
 9   genre_id        82191 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 6.3+ MB

In [145]:
## get max string length
max_str_len = basics['primaryTitle'].fillna('').map(len).max()
max_str_len = basics['genres'].fillna('').map(len).max()

In [146]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Integer(),
    'runtimeMinutes':Integer(),
    'genres':Float()}

In [161]:
basics.drop(columns=['originalTitle','titleType','isAdult','endYear','genre_id'], inplace=True)

In [165]:
basics.drop(columns=['genres'], inplace=True)

In [166]:
basics.head()

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70
2,tt0069049,The Other Side of the Wind,2018,122
3,tt0082328,Embodiment of Evil,2008,94
4,tt0088751,The Naked Monster,2005,100

In [167]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

82191