In [95]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, text
from sklearn.compose import make_column_selector
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote
from sqlalchemy_utils import create_database, database_exists

In [ ]:
username = "root"
password = "Lerisha26" # (or whatever password you chose during mysql installation)
db_name = "Movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv("C:/Users/user/Documents/CodingDojo/Project-3-Part-1/Data/title_basics.csv.gz", low_memory = False)

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008,NaN,94,Horror
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [6]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008,NaN,94,Horror,[Horror]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
82186,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
82187,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
82188,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
82189,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
82190,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [14]:
genres_split = basics['genres'].str.split(",")

In [15]:
# explode the series
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Musical', 'Action', 'Adventure', 'Crime',
       'Thriller', 'Music', 'Animation', 'Family', 'History', 'War',
       'Sport', 'Western', 'Adult', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [12]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [17]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [18]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_id_map = dict(zip(unique_genres, genre_ints))
genre_id_map

{'Comedy': 0,
 'Fantasy': 1,
 'Romance': 2,
 'Drama': 3,
 'Horror': 4,
 'Sci-Fi': 5,
 'Biography': 6,
 'Mystery': 7,
 'Musical': 8,
 'Action': 9,
 'Adventure': 10,
 'Crime': 11,
 'Thriller': 12,
 'Music': 13,
 'Animation': 14,
 'Family': 15,
 'History': 16,
 'War': 17,
 'Sport': 18,
 'Western': 19,
 'Adult': 20,
 'Reality-TV': 21,
 'News': 22,
 'Talk-Show': 23,
 'Game-Show': 24}

In [25]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].replace(genre_id_map)

In [26]:
basics = basics.drop(columns='genres_split')

In [35]:
genre_lookup = pd.DataFrame({'Genre_Name':genre_id_map.keys(), 'Genre_ID':genre_id_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Comedy         0
1    Fantasy         1
2    Romance         2
3      Drama         3
4     Horror         4

In [48]:
title_genres.dtypes

tconst          object
genres_split    object
dtype: object

In [53]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008,NaN,94,Horror,[Horror]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"

In [96]:
## Set the dataframe index and use index=True 
genre_lookup.set_index('Genre_ID').to_sql('genre_lookup',engine,index=True,if_exists='replace')

25

In [97]:
## get max string length
max_str_len = title_genres['tconst'].fillna('').map(len).max()

In [98]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = title_genres['tconst'].fillna('').map(len).max()
title_len = title_genres['genres_split'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "genres_split": Text(title_len+1)}

In [99]:
# Save to sql with dtype and index=False
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',index=False)

154235